<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itsean.campus_second_hand.mapper.UserMapper">

    <update id="update">

        update user
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="avatar != null and avatar != ''">
                avatar = #{avatar},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="college != null and college != ''">
                college = #{college},
            </if>
            <if test="balance != null">
                balance = #{balance},
            </if>
            <if test="creditScore != null">
                credit_score = #{creditScore},
            </if>
        </set>
        where id = #{id}
    </update>



</mapper>